body {
  background: #7f8e93;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container {
  max-width: 820px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 155px 155px 1fr;
  grid-template-rows: repeat(5, 82px);

  justify-content: center;
  align-content: center;
  gap: 12px;
}
.box {
  color: #00a5e2;
  background: white;
  padding: 1rem;
}
.box_blue {
  color: white;
  background: #00a5e2;
  padding: 1rem;
}
.box_high {
  grid-column: 3;
  grid-row: 1 / 6;
}
